body {
    margin: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#pageTitle {
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-around; 
    width: 100%;
    margin-bottom: 20px;
}



#content {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 80%; /* Adjust as per your layout */
    margin: 0 auto; /* Centering the content */
}

#radioButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#radioButtons label {
    margin-bottom: 5px;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    position: relative;
}

#radioButtons input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#radioButtons input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
}

#radioButtons input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 4px;
    top: 54%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #0544d3;
}

canvas {
    border: 1px solid black;
}

#formContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%; /* Adjust width as needed */
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form button {
    margin-bottom: 10px;
}
