#pageTitle {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 20px; /* Adjust as needed */
    z-index: 100; /* Ensures the title is above other elements */
}


body {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Ensures consistent font across browsers */
}

#radioButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns radio buttons to the left */
}

#radioButtons label {
    margin-bottom: 5px;
    display: block;
    position: relative;
    padding-left: 25px; /* Adjust as needed for alignment */
    margin-left: 15px; /* Adjust left margin for overall alignment */
    cursor: pointer;
    font-size: 14px; /* Adjust as needed */
    user-select: none; /* Prevents text selection */
}

#radioButtons input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#radioButtons input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
}

#radioButtons input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 4px;
    top: 54%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #0544d3;
}

canvas {
    border: 1px solid black;
    margin: 0 20px;
}

#formContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form button {
    margin-bottom: 10px;
}

/* Additional styles for form and error message */
